<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My page</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>

    <div class="jumbotron">
      <div class="container">
        <h1>TOURAGE</h1>
        <h3>AN APP FOR TOURING BANDS</h3>
        <p><a class="btn btn-danger btn-md" href="/auth/google_oauth2">SIGN IN WITH GOOGLE</a></p>
        <div class="arrow">
          <a href="#intro"><i class="fa fa-chevron-down"></i></a>
        </div>
      </div>
    </div>
<div class="redline"></div>
<div id="intro">
<div class="container">
  <h2>Welcome to Tourage</h2>
  <p>Tourage was developed with the independent touring musician in mind.</p>
  <div class="line"></div>

  <div class="row category">
  <div class="col-md-4">
    <div class="card">
      <div class="card-img">
      <img class="card-img-top img-responsive" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/1456702_10152183935803296_162138879_n.jpg?oh=0d2bbec6dd53f833b5a2b71d26d9baa2&oe=5A58E344" alt="Surf">
      </div>
    <div class="card-block">
    <h4 class="card-title">Easy to use</h4>
    <p class="card-text">Create a custom band profile, a list of band, label, and booking contact info, and your most up to date tour information in our easy to use profile template.</p>
    </div>
    </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-img">
  <img class="card-img-top img-responsive" src="https://static1.squarespace.com/static/5726f116356fb098e47e1fe5/5727117559827e5304eb15d6/58e40a1215d5db3555791a02/1491347827945/IMG_4415.jpg?format=2500w" alt="Surf">
        </div>
  <div class="card-block">
    <h4 class="card-title">Centralized</h4>
    <p class="card-text">Tourage uses data from your Facebook, Twitter, Google, and Bandcamp accounts to allow focused control of your band's web presence under one simplified umbrella.</p>
  </div>
</div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-img">
 <img class="card-img-top img-responsive" src="http://alabamanewscenter.com/wp-content/uploads/2016/07/SR-van.jpg" alt="Surf">
          </div>
  <div class="card-block">
    <h4 class="card-title">Shareable</h4>
    <p class="card-text">Getting the word out about your next show or tour can be a tiresome process.  Tourage can share tour dates or show details directly to your social media accounts to cut the red tape.</p>
  </div>
</div>
    </div>

  </div>
  </div>
</div>
<div class="contact">
<div class="container">
      <div class="row">
      <div class="col-md-6 col-md-offset-2">


        </div>
  </div>
  </div>
</div>


  </body>
</html>
